var sub = function (str, startLength, endLength) {
  if (str.length == 0 || str == undefined) {
    return "";
  }
  var length = str.length;
  if (length >= startLength + endLength) {
    //判断当字符串长度为二时,隐藏末尾
    if (length === 2) {
      return str.substring(0, 1) + '*';
    } else if (3 <= length && length <= 10) {
      return str.substring(0, 1) + '**';
    }
    //判断字符串长度大于首尾字符串长度之和时,隐藏中间部分
    else if (length >= 11) {
      return str.substring(0, startLength) + "****" + str.substring(length - endLength, length);
    } else {
      return str
    }
  }
}

var portrait = function (str) {
  var newstr = str.slice(0, 1).toUpperCase()
  return newstr
}
module.exports = {
  sub: sub,
  portrait: portrait
}